nzi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- SESSION: The sequential container of turns -->
  <xs:element name="session">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="turn" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="alias" type="xs:string"/>
      <xs:attribute name="role" type="xs:string" default="system"/>
      <xs:attribute name="yolo" type="xs:boolean" default="false"/>
      <xs:attribute name="roadmap" type="xs:string" default="AGENTS.md"/>
      <xs:attribute name="seed" type="xs:integer"/>
      <xs:attribute name="system_fingerprint" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <!-- TURN: A single conversational unit -->
  <xs:element name="turn">
    <xs:complexType>
      <xs:sequence>
        <!-- Static Preamble (Turn 0 ONLY) -->
        <xs:element ref="system" minOccurs="0"/>
        <xs:element ref="project_roadmap" minOccurs="0"/>
        <xs:element ref="suggest_next_task" minOccurs="0"/>
        
        <xs:element ref="user"/>
        <xs:element ref="assistant" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:integer" use="required"/>
      <xs:attribute name="start" type="xs:dateTime"/>
      <xs:attribute name="stop" type="xs:dateTime"/>
      <xs:attribute name="alias" type="xs:string"/>
      <xs:attribute name="yolo" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>

  <!-- USER: The input envelope (Package to the model) -->
  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <!-- Environmental Context -->
        <xs:element ref="history" minOccurs="0"/>
        
        <!-- The interaction choice -->
        <xs:choice>
          <xs:element ref="ask"/>
          <xs:element ref="instruct"/>
          <xs:element name="shell">
            <xs:complexType mixed="true">
              <xs:sequence>
                <xs:element ref="selection"/>
                <xs:element ref="choice" minOccurs="0"/>
                <xs:element ref="summary" minOccurs="0"/>
              </xs:sequence>
              <xs:attribute name="command" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element ref="error"/>
          <xs:element ref="answer"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- INTERACTION ELEMENTS -->
  
  <xs:element name="ask">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="selection" minOccurs="0"/>
        <xs:element ref="choice" minOccurs="0"/>
        <xs:element ref="summary" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="instruct">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="selection" minOccurs="0"/>
        <xs:element ref="choice" minOccurs="0"/>
        <xs:element ref="summary" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="error">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="selection"/>
        <xs:element ref="choice" minOccurs="0"/>
        <xs:element ref="summary" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="answer">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="choice" minOccurs="0"/>
        <xs:element ref="summary" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ASSISTANT: The output envelope (Package from the model) -->
  <xs:element name="assistant">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="summary" minOccurs="0"/>
        <xs:element ref="reasoning" minOccurs="0"/>
        <xs:element ref="response" minOccurs="0"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="edit"/>
          <xs:element ref="create"/>
          <xs:element ref="read"/>
          <xs:element ref="search"/>
          <xs:element ref="delete"/>
          <xs:element name="shell" type="xs:string"/>
          <xs:element ref="env"/>
          <xs:element ref="choice"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="duration" type="xs:decimal"/>
      <xs:attribute name="prompt_tokens" type="xs:integer"/>
      <xs:attribute name="completion_tokens" type="xs:integer"/>
    </xs:complexType>
  </xs:element>

  <!-- CORE DATA ELEMENTS -->
  
  <xs:element name="system" type="xs:string"/>
  <xs:element name="reasoning" type="xs:string"/>
  <xs:element name="response">
    <xs:complexType mixed="true">
      <xs:choice>
        <xs:element ref="choice"/>
        <xs:element ref="summary"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="summary">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="120"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="project_roadmap">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="file" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="suggest_next_task">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="file" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="history">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="files" minOccurs="0"/>
        <xs:element ref="search" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="read" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="ack" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="files">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="file" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="file">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="path" type="xs:string" use="required"/>
          <xs:attribute name="type" type="xs:string" use="required"/>
          <xs:attribute name="size" type="xs:integer" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="selection">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="file" type="xs:string" use="required"/>
          <xs:attribute name="first_row" type="xs:integer"/>
          <xs:attribute name="first_col" type="xs:integer"/>
          <xs:attribute name="final_row" type="xs:integer"/>
          <xs:attribute name="final_col" type="xs:integer"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <!-- ACTION & FEEDBACK ELEMENTS -->

  <xs:element name="edit">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="file" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="create">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="file" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="env" type="xs:string"/>
  <xs:element name="search">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="match" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="pattern" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="choice" type="xs:string"/>

  <xs:element name="read">
    <xs:complexType mixed="true">
      <xs:attribute name="file" type="xs:string" use="required"/>
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="size" type="xs:integer"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="delete">
    <xs:complexType><xs:attribute name="file" type="xs:string" use="required"/></xs:complexType>
  </xs:element>

  <xs:element name="match">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="file" type="xs:string" use="required"/>
          <xs:attribute name="line" type="xs:integer" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="ack">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="tool" type="xs:string" use="required"/>
          <xs:attribute name="file" type="xs:string"/>
          <xs:attribute name="status" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

</xs:schema>
