nzi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="nzi"
           xmlns:nzi="nzi"
           elementFormDefault="qualified">

  <!-- Root Element -->
  <xs:element name="session">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nzi:turn" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- TURN Elements -->
  <xs:element name="turn">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="nzi:user"/>
          <xs:element name="system" type="xs:string"/>
          <xs:element name="error" type="xs:string"/>
          <xs:element ref="nzi:summary"/>
          <xs:element ref="nzi:content"/>
          <xs:element ref="nzi:reasoning"/>
          <xs:element ref="nzi:edit"/>
          <xs:element ref="nzi:create"/>
          <xs:element ref="nzi:read"/>
          <xs:element ref="nzi:grep"/>
          <xs:element ref="nzi:shell"/>
          <xs:element ref="nzi:env"/>
          <xs:element ref="nzi:choice"/>
          <xs:element ref="nzi:reset"/>
          <xs:element ref="nzi:status"/>
          <xs:element ref="nzi:ack"/>
          <xs:element ref="nzi:match"/>
          <xs:element ref="nzi:context"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:integer" use="required"/>
      <xs:attribute name="model" type="xs:string"/>
      <xs:attribute name="duration" type="xs:decimal"/>
      <xs:attribute name="acts" type="xs:integer"/>
    </xs:complexType>
  </xs:element>

  <!-- USER Elements -->
  <xs:element name="user">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="nzi:selection"/>
        <xs:element ref="nzi:project_state"/>
        <xs:element ref="nzi:next_task_suggest"/>
      </xs:choice>
      <xs:attribute name="type" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <!-- AGENT Elements -->
  <xs:element name="project_state" type="xs:string"/>
  <xs:element name="next_task_suggest" type="xs:string"/>

  <xs:element name="selection">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="file" type="xs:string" use="required"/>
          <xs:attribute name="start" type="xs:string"/>
          <xs:attribute name="end" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="context">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="file" type="xs:string"/>
          <xs:attribute name="type" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="match">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="file" type="xs:string" use="required"/>
          <xs:attribute name="line" type="xs:integer"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="ack">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="status" type="xs:string"/>
          <xs:attribute name="tool" type="xs:string"/>
          <xs:attribute name="file" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="status">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="level" type="xs:string"/>
          <xs:attribute name="tool" type="xs:string"/>
          <xs:attribute name="file" type="xs:string"/>
          <xs:attribute name="status" type="xs:string"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <!-- MODEL Elements -->
  <xs:element name="summary">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="120"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="content" type="xs:string"/>
  <xs:element name="reasoning" type="xs:string"/>

  <xs:element name="edit">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="file" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="create">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="file" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="shell" type="xs:string"/>
  <xs:element name="env" type="xs:string"/>
  <xs:element name="read">
    <xs:complexType>
      <xs:attribute name="file" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="grep" type="xs:string"/>
  <xs:element name="choice" type="xs:string"/>
  <xs:element name="reset">
    <xs:complexType/>
  </xs:element>

</xs:schema>
